body{
	font-family: Arial, Helvetica, sans-serif;
	color: #474747;
	background-color: black;
}
#container{
	margin: 0 auto;
	background-color: white;
	width: 50%;
	border-radius: 20px;
	padding: 20px;
}
table{
	border-collapse: collapse;
	margin: 0 auto;
	width: 90%;
	text-align: center;
}	
tr:hover{
	background-color: rgb(255, 255, 255);
}
td {
	border-collapse: collapse;
	border-bottom: 2px solid rgb(231, 231, 231);
	padding: 8px;
}
th {
	border-collapse: collapse;
	border-bottom: 2px solid rgb(231, 231, 231);
	padding: 8px;
	background-color: rgb(237 237 237);
	height: 30px;
}
table tr td:first-child + td {
	text-align: left;
}
table tr th:first-child + th{
	text-align: left;
}
table caption {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}
td img {
	width: 30px;
	height: 30px;
}
.posição1e4 {
	color: rgb(0, 0, 152);
	background-color: #ebfaff;
}
.posição5e6 {
	color: #029c9c;
	background-color: lightcyan;
}
.posição7e12 {
	color: #234e23;
	background-color: #ebffeb;
}
.posição17e20 {
	color: #ae3737;
	background-color: #ffe9e9;
}
h2{
	text-align: center;
	margin-bottom: 20px;
}
#legenda {
	width: 90%;
	margin: 0 auto;
	height: 40px;
	margin-top: 20px;
}

#legenda > div {
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 10px;
}

#legenda > span {
	margin-left: 5px;
	float: left;
	line-height: 24px;
}

#legLibertadores {
	border: 1px solid rgb(0, 0, 152);
	background-color: #ebfaff;
}
#legLibertadores + span {
	color: rgb(0, 0, 152);			
}

#legPreLibertadores {
	border: 1px solid #029c9c;
	background-color: lightcyan;
}
#legPreLibertadores + span {
	color: #029c9c;			
}

#legSulamericana {
	border: 1px solid #234e23;
	background-color: #ebffeb;
}
#legSulamericana + span {
	color: #234e23;			
}
#legRebaixamento {
	border: 1px solid #ae3737;
	background-color: #ffe9e9;
}
#legRebaixamento + span {
	color: #ae3737;			
}