* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  background-color: lightyellow;
  text-align: justify;
  font-size:14px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
	width: 960px;
	display: grid;
	margin: 0 auto;
	grid-template-areas:
		"header header header"
		"nav main aside"
		"footer footer footer";
	grid-template-columns: auto 420px 300px;
	grid-template-rows: 140px auto 72px;
	gap: 10px;
	height: 100vh;
}

header {
  grid-area: header;
  background-color: darkred;
}

header img{
	position: relative;
	float: left;
	top: 22px;
	left: 10px;
}

header h1{
	float: left;
	position: relative;
	font-size:36px;
	color:lightyellow;
	height: 140px;
	line-height: 140px;
	left: 60px;
}

nav {
  grid-area: nav;
}

nav ul{
  list-style-type:none;
  margin: 0;
  padding: 0;  
}

nav li{
  display:inline-block;
  margin-top:10px;
  width:100%;
  list-style: none;
}

nav a{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color:lightyellow;
  background-color:darkgreen;
  padding:10px;
  display:block;
}

a:hover{
  background-color:darkslategrey;
}

main {
  grid-area: main;
}

main p {
	margin-top: 20px;
}

aside {
  grid-area: aside;
}

aside h1 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

aside h2 {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 10px;
}

aside p {
	margin-top: 10px;
	margin-bottom: 10px;
}

aside img{
  padding:2px;
  border: 2px solid black;
}

footer {
  grid-area: footer;
  background-color:darkred;
}

footer div{
  width:500px;
  position:relative;
  left:230px;
}

footer p{
	position:relative;
	float: left;
  	text-align: right;
	color:lightyellow;
	line-height: 72px;
	padding-left: 20px;
}

footer img{
	float:left; 
	position:relative;
	top: 4px; 
}