.container {
    display:grid;
    grid-template-areas: "header header header"
                        "aside main main"
                        "footer footer footer";
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 10px;
                                  
}
#cabeçalho {
    grid-area: header;
    background-color: aqua;

}
aside {
    grid-area: aside;
    background-color: rgb(57, 147, 195);
}
main {
    grid-area: main;
    background-color: rgb(195, 216, 58);
}
footer {
    grid-area: footer;
    background-color: rgb(237, 92, 240);
}

